body {
    background-color: rgb(91, 182, 209);
    font-family: Arial, Helvetica, sans-serif;
}

.szoveg {
    padding: 15px;
    font-size: 17px;
}

.i
{
    margin: 15pt;
}
 
#eredmeny
{
    color: red;
}

#mennyi
{
    color: red;
}

#szo
{
    font-size: 20px;
}

#ir
{
    font-size: 20px;
}